*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-white-color: #ffffff;
  --accent-color: #4d5ae5;
  --light-color: #f4f4fd;
  --an-accent-color: #404bbf;
  --light-slate: #8e8f99;
}

body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  .pos-section {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .pos-section {
    display: block;
    padding-top:0;
    padding-bottom:120px;
  }

  .possibilities-list {
    display: flex;
    justify-content: center;
  }

  .possibilities-list .item:not(:last-child) {
    margin-right: 24px;
  }
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.nav-container {
  position: relative;
  padding: 24px 16px 24px 16px;
  height: 70px;
  border-bottom: 1px solid #e7e9fc;
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
  }
}

.logo {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .nav-items {
    justify-content: start;
  }
}

.nav-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.menu-link{
  color:var(--accent-color);
}
.menu-container {
  width: 100%;
  height:100%;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display:flex;
    flex-direction:column;
    position:fixed;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.close-button {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  top: 40px;
  right: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    margin-left: 123px;
  }

  .nav-links .link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    text-decoration: none;
    color: var(--title-text-color);

    font-weight: 600;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-links .item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-links .link:hover,
  .nav-links .link:focus,
  .nav-links .link:active {
    color: var(--accent-color);
  }

  .nav-links .menu-link{
    color: var(--accent-color);
  }

  .menu-link::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--an-accent-color);
  }

  .menu-link-hover::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--an-accent-color);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link-hover:hover::after {
    transform: scaleX(1);
  }
}
.head-address {
  display: none;
}

@media screen and (min-width: 768px) {
  .head-address {
    display: block;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1440px) {
    .head-address {
      display: flex;
      align-items: center;
    }
  }

  .head-address .link {
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1440px) {
    .head-address .item:not(:last-child) {
      margin-right: 40px;
    }
  }

  .head-address .link:hover,
  .head-address .link:focus,
  .head-address .link:active {
    color: var(--accent-color);
  }
}

.nav-content {
  margin-top: 40px;
}
.nav-menu-links{
  margin-top:40px;
  margin-bottom:auto;
}
.nav-menu-links .link {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link{
  color:var(--accent-color);
}

.menu-link-hover{
  color:var(--primary-text-color);
}

.menu-link-contacts{
  color:var(--primary-text-color);
}

.nav-menu-links .link:hover,
.nav-links .link:focus {
  color: var(--an-accent-color);
}

.nav-menu-links .item:not(:last-child) {
  margin-bottom: 40px;
}

.head-menu-address .tel {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

.head-menu-address .item:not(:last-child) {
  margin-bottom: 40px;
}

.head-menu-address .mail {
  color: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size:20px;
}

.head-menu-address .mail:focus,
.head-menu-address .mail:hover {
  color: var(--an-accent-color);
}

.nav-social-list {
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-top: 48px;
}

.nav-social-icon {
  width: 24px;
  height: 24px;
}

.hero {
  padding-top: 112px;
  padding-bottom: 108px;
  text-align: center;
}

.bg-hero {
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: var(--title-text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .bg-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@x2.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .bg-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@x3.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .bg-hero {
    min-width:1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--primary-white-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

@media screen and (max-width:767px){
  .hero-title{
    max-width:318px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    width: 494px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;

  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow:hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:1440px){
  .modal{
    width:408px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:active {
  background-color: var(--an-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-button:hover .modal-button-icon,
.modal-button:active .modal-button-icon {
  fill: var(--primary-white-color);
}

.modal-button-icon {
  width: 8px;
  height: 8px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.3;
  color: var(--light-slate);

  margin-bottom: 4px;
}

.input {
  padding: 14px 19px 14px 38px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 28px;
  left: 14px;
}
.input:focus {
  border-color: var(--an-accent-color);
}

.form-field:focus-within {
  border-color: var(--an-accent-color);
  fill: var(--an-accent-color);
}

.input:not(:placeholder-shown) {
  border-color: var(--an-accent-color);
}

.input:not(:placeholder-shown) + .input-icon {
  fill: var(--an-accent-color);
}

.comment {
  padding: 8px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus {
  border-color: var(--an-accent-color);
}

.comment-text {
  margin-bottom: 4px;
}
.comment::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-input {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.modal-checkbox {
  width: 16px;
  height: 16px;
}

.checkbox-label {
  display: flex;
  font-size: 12px;
  line-height: 1.3;
  color: #757575;
  letter-spacing: 0.04em;
}

.privacy-link {
  color: var(--accent-color);
}

.checkbox-label::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  border-radius: 3px;

  margin-right: 8px;
}

.modal-checkbox:checked + .checkbox-label:before {
  border: none;
  background-image: url(../images/confirm.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.submit-send {
  background-color: var(--accent-color);
  width: 169px;
  height: 56px;
  color: var(--primary-white-color);
  font-family: inherit;
  margin: 24px auto 0;
  display: block;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-send:hover,
.submit-send:focus {
  background-color: var(--an-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-title {
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  min-width: 170px;

  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title:hover,
.button-title:active {
  background-color: var(--an-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.adv-icons {
  display: none;
}

@media screen and (min-width: 1440px) {
  .adv-icons {
    display: flex;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-color);
    margin-bottom: 8px;

    justify-content: center;
    align-items: center;
  }
}

.adv-icon {
  width: 64px;
  height: 64px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 70px;
  color: var(--title-text-color);
  text-align: center;

  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  .advantages-list .item:not(:last-child) {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    gap:72px 24px;
    justify-content:center;
  }

  .advantages-list .item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 1439px) {
  .advantages-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-list .item {
    width: calc((100% - 12px * 8) / 4);
  }
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (max-width: 1439px) {
  .advantage-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .advantage-title {
    text-align: center;
  }
}

@media screen and (min-width: 1440) {
  .advantage-title {
    font-size: 20px;
  }
}
.team-info {
  background-color: var(--light-color);
  padding-bottom:128px;
}

.team-names {
  margin: 0;
  margin-bottom: 8px;
  color: var(--title-text-color);

  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1439px) {
  .team-list {
    flex-wrap: wrap;
    gap:64px 12px;
  }
}

@media screen and (min-width: 1440px) {
  .team-list .item:not(:last-child) {
    margin-right: 24px;
  }
}

.team-list .item {
  background-color: var(--primary-white-color);
}
.team-names-container {
  padding-top: 32px;
}

.team-list .item {
  width: 268px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {

  .team-list .item {
    margin: 0 auto;
  }

  .team-list .item:not(:last-child){
    margin-bottom:72px;
  }
}

.team-social-net {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-bottom:32px;
}
.soc-item {
  width: 40px;
  height: 40px;
}

.team-social {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:hover {
  background-color: var(--an-accent-color);
}

.social-icon {
  width: 16px;
  height: 16px;
}

/* customers */

.customers-content {
  display: flex;
  justify-content: center;
}

.customers-banner {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (max-width: 1439px) {
  .customers-content {
    flex-wrap: wrap;
    gap:72px 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-content {
    gap: 72px 24px;
  }
  .customers-banner {
    flex-basis: calc((100% - 72px) / 3);
  }
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;

  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
  width: 104px;
  height: 56px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
  fill: #8e8f99;
}
.customers-link:hover {
  border-color: var(--an-accent-color);
}

.customers-link:hover .customers-logo {
  fill: var(--an-accent-color);
}

/* FOOTER */

.basement {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--title-text-color);
}

@media screen and (min-width: 1440px) {
  .basement {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 310px;
  }
}
.basement-items {
  display: inline-flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .basement-items {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .basement-items {
    margin-left: 108px;
  }
}

@media screen and (min-width: 1440px) {
  .basement-items {
    margin-left: 0px;
  }
}

.fot-item {
  max-width: 265px;
}

@media screen and (max-width: 767px) {
  .fot-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.basement-text {
  color: var(--primary-white-color);
}

.basement-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .media {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 767px) {
  .media {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .media {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .media {
    margin-left: 120px;
    margin-right: 80px;
  }
}

.media-title {
  margin-top: 72px;
  margin-bottom: 16px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .media-title {
    margin: 0;
    margin-bottom: 16px;
  }
}
.media-list {
  display: flex;
  gap: 16px;
}

.media-items {
  width: 40px;
  height: 40px;
}

.media-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover {
  background-color: #31d0aa;
}

@media screen and (min-width: 1440px) {
  .form {
    margin-left: auto;
  }
}

.form-items {
  display: flex;
}

.sub-title {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .form{
    margin-top: 72px;
  }
}

@media screen and (max-width: 767px) {
  .sub-title {
    text-align: center;
  }
}

.footer-input {
  padding: 8px 16px;
  background-color: #2e2f42;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  height: 40px;
  color: var(--primary-white-color);
  max-width: 396px;
  margin-bottom: 16px;
}

@media screen and (min-width:425px){
  .footer-input{
    width:396px;
  }
}
@media screen and (min-width:1440px){
  .footer-input{
    margin-bottom:0;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    max-width: 260px;
  }
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .submit-button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .submit-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
